MenusApp/MenusApp/MenusApp.iOS/Web References/service/MenuAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuAppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mobilecmssvc.tulalipdata.net/MenuAppService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mobilecmssvc.tulalipdata.net/MenuAppService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mobilecmssvc.tulalipdata.net/MenuAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tds.CMS.DataObjects" />
      <xsd:import schemaLocation="http://mobilecmssvc.tulalipdata.net/MenuAppService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Tds.Web.Service" />
      <xsd:import schemaLocation="http://mobilecmssvc.tulalipdata.net/MenuAppService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuAppService_GetSectionJSON_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionJSON" />
  </wsdl:message>
  <wsdl:message name="IMenuAppService_GetSectionJSON_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionJSONResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAppService_GetResourcesForSection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourcesForSection" />
  </wsdl:message>
  <wsdl:message name="IMenuAppService_GetResourcesForSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourcesForSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAppService_GetResourceSourcesForSection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceSourcesForSection" />
  </wsdl:message>
  <wsdl:message name="IMenuAppService_GetResourceSourcesForSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceSourcesForSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuAppService_GetMediaStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaStream" />
  </wsdl:message>
  <wsdl:message name="IMenuAppService_GetMediaStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuAppService">
    <wsdl:operation name="GetSectionJSON">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAppService/GetSectionJSON" message="tns:IMenuAppService_GetSectionJSON_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAppService/GetSectionJSONResponse" message="tns:IMenuAppService_GetSectionJSON_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourcesForSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAppService/GetResourcesForSection" message="tns:IMenuAppService_GetResourcesForSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAppService/GetResourcesForSectionResponse" message="tns:IMenuAppService_GetResourcesForSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceSourcesForSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAppService/GetResourceSourcesForSection" message="tns:IMenuAppService_GetResourceSourcesForSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAppService/GetResourceSourcesForSectionResponse" message="tns:IMenuAppService_GetResourceSourcesForSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuAppService/GetMediaStream" message="tns:IMenuAppService_GetMediaStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuAppService/GetMediaStreamResponse" message="tns:IMenuAppService_GetMediaStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuAppService" type="tns:IMenuAppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSectionJSON">
      <soap:operation soapAction="http://tempuri.org/IMenuAppService/GetSectionJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourcesForSection">
      <soap:operation soapAction="http://tempuri.org/IMenuAppService/GetResourcesForSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceSourcesForSection">
      <soap:operation soapAction="http://tempuri.org/IMenuAppService/GetResourceSourcesForSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaStream">
      <soap:operation soapAction="http://tempuri.org/IMenuAppService/GetMediaStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuAppService">
    <wsdl:port name="BasicHttpBinding_IMenuAppService" binding="tns:BasicHttpBinding_IMenuAppService">
      <soap:address location="http://mobilecmssvc.tulalipdata.net/MenuAppService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>